body {
  background: #fbebea url("../img/header/tort.png") no-repeat;
  background-size: 67% auto;
  background-position: 138% 15px;
}

.container {
  max-width: 1220px;
}

body {
  margin: 0;
}

img {
  height: auto;
}

input,
button:focus {
  outline: none;
}

.floatReset {
  float: none;
}

.slick-active {
  outline: none;
}

@font-face {
  font-family: Intro Script R;
  src: url("../fonts/IntroScriptR-H2Base.otf") format("opentype");
}

@font-face {
  font-family: 'Circe';
  src: url("Circe-Bold.eot");
  src: local("Circe Bold"), local("Circe-Bold"), url("Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Bold.woff") format("woff"), url("../fonts/Circe/Circe-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.header {
  background: url("../img/header/berry.png") no-repeat;
  background-position: 35% 60px;
  background-size: 25% auto;
  margin-bottom: 245px;
}

.headerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.title {
  margin-top: 125px;
  font-size: 85px;
  font-family: "Playfair Display", serif;
  line-height: 0.8;
  color: #2e2829;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0;
}

.subtitle {
  font-family: "Intro Script R" , serif;
  text-align: left;
  font-size: 45px;
  margin-bottom: 60px;
}

.WrapperIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 10%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.icons {
  -ms-flex-preferred-size: 250px;
  flex-basis: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icons__img {
  max-width: 55px;
  height: auto;
  margin-right: 10px;
}

.icons__text {
  font-size: 16px;
  font-family: "Circe" , serif;
  color: black;
  line-height: 1.2;
  text-align: left;
}

.btn {
  background-color: #f50049;
  border: none;
  border-radius: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Circe";
  color: white;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 5px 7.04px 0.96px rgba(255, 0, 67, 0.3);
  box-shadow: 0px 5px 7.04px 0.96px rgba(255, 0, 67, 0.3);
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-left: 65px;
  padding-right: 65px;
}

.btn_s {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ourCake .title {
  font-size: 30px;
  margin-bottom: 70px;
}

.cakeWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}

.bigCake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 600px;
  flex-basis: 600px;
  margin-right: 20px;
}

.bigCake_second {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-left: 20px;
  margin-right: 0;
}

.smallCakes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px;
}

.cake {
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);
  box-shadow: 0px 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: #fff;
  text-align: center;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.cake .text {
  text-align: left;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  font-family: "Circe" , serif;
}

.cake .text__title {
  color: #2d2829;
}

.cake .text__subtitle {
  font-family: "Circe" , serif;
  color: rgba(45, 40, 41, 0.702);
}

.cake .view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Circe" , serif;
  color: #2d2829;
  font-size: 15px;
}

.cake .view__rightArrow {
  margin-left: 10px;
  width: 12px;
}

.cake_s {
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
}

.cake_s .cake__img {
  max-width: 280px;
  width: 80%;
}

.cake_s .view__text {
  display: none;
}

.cake__img {
  width: 90%;
  max-width: 500px;
}

.chooseBlock {
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);
  box-shadow: 0px 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);
  padding: 75px 75px 50px 75px;
}

.textBlock {
  display: inline-block;
  float: left;
  width: 100px;
  margin-right: 20px;
}

.textBlock__number {
  font-size: 35px;
  font-family: "Playfair Display", serif;
  color: #f50049;
  font-weight: bold;
}

.textBlock__subtitle {
  font-size: 20px;
  font-family: "Playfair Display", serif;
  color: #f50049;
  font-weight: bold;
}

.fillingSlider .fillings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.fillingSlider .fillings__img {
  -ms-flex-preferred-size: 100px;
  flex-basis: 100px;
}

.fillingSlider .fillings .description {
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px;
  -ms-flex-item-align: center;
  align-self: center;
}

.fillingSlider .fillings .description__title {
  font-size: 16px;
  font-family: "Circe", serif;
  color: #2f2f2f;
  font-weight: bold;
}

.fillingSlider .fillings .description__text {
  font-size: 14px;
  font-family: "Circe";
  color: #2f2f2f;
  width: 250px;
  margin-bottom: 30px;
}

.fillingSlider .fillings .description__price {
  font-size: 16px;
  font-family: "Playfair Display", serif;
  color: #2f2f2f;
  font-weight: bold;
  margin-bottom: 50px;
}

.fillingSlider .fillings .count {
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-family: "Circe", serif;
  color: rgba(47, 47, 47, 0.702);
  font-size: 12px;
  text-align: left;
}

.fillingSlider .prev {
  background-color: red;
  border: none;
  position: absolute;
  top: 50%;
  left: 8%;
  width: 25px;
  height: 15px;
  background: url("../img/slider/arrowLeft.png") no-repeat center;
}

.fillingSlider .next {
  position: absolute;
  background-color: red;
  border: none;
  top: 50%;
  width: 25px;
  left: 94.2%;
  height: 15px;
  z-index: 100;
  background: url("../img/slider/arrowRight.png") no-repeat center;
}

@media screen and (max-width: 1280px) {
  .header {
    padding-left: 75px;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-size: 80% auto;
    background-position: 223% 0px;
  }

  /**************HEADER **********************************/

  .header {
    background: url("../img/header/berry768.png") no-repeat;
    background-position: 45% 60px;
    background-size: 15% auto;
    padding-left: 45px;
  }

  .title {
    font-size: 60px;
  }

  .subtitle {
    font-size: 30px;
  }

  .WrapperIcons {
    margin-top: 23%;
  }

  .icons {
    -ms-flex-preferred-size: 218px;
    flex-basis: 218px;
    margin-bottom: 15px;
  }

  .icons__text {
    font-size: 14px;
  }

  /**************Our Cake**********************************/

  .ourCake .title {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .cakeWrapper {
    margin-bottom: 0;
  }

  .bigCake {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 0;
  }

  .bigCake_second {
    margin-right: 0;
    margin-left: 0;
  }

  .cake__img {
    width: 30%;
    max-width: 200px;
  }

  .cake .view {
    display: none;
  }

  /*****************************************************/

  /*****************ChoseFilling**********************/

  .chooseBlock {
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);
    box-shadow: 0px 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);
    padding: 50px 40px 50px 40px;
  }

  .textBlock {
    display: inline-block;
    float: left;
    width: 100px;
    margin-right: 15px;
  }

  .fillingSlider .fillings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .fillingSlider .fillings__img {
    width: 215px;
    height: 237px;
  }

  .fillingSlider .fillings .description {
    -ms-flex-preferred-size: 100px;
    flex-basis: 100px;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .fillingSlider .fillings .description__text {
    margin-bottom: 20px;
  }

  .fillingSlider .fillings .description__price {
    margin-bottom: 30px;
  }

  /*****************************************************/
}

@media screen and (max-width: 576px) {
  body {
    background-size: 550px auto;
    background-position: center -380px;
  }

  /**************HEADER **********************************/

  .header {
    background: none;
    padding-left: 0;
  }

  .headerWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .title {
    margin-top: 120px;
    font-family: "Playfair Display";
    line-height: 0.8;
    color: #2e2829;
    font-weight: bold;
    text-align: center;
  }

  .subtitle {
    font-family: "Intro Script R";
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .WrapperIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 42px;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .icons {
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .icons__img {
    width: auto;
    margin-right: 10px;
  }

  .icons__text {
    font-family: "Circe";
    color: black;
    line-height: 1.2;
    text-align: left;
  }

  .btn {
    -ms-flex-item-align: center;
    align-self: center;
  }

  /**************OUR Cake**********************************/

  .ourCake .title {
    margin-bottom: 35px;
  }

  .cakeWrapper .bigCake {
    margin-right: 0;
  }

  .cakeWrapper .smallCakes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 400px;
    flex-basis: 400px;
  }

  .cake {
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-color: #fff;
    text-align: center;
    margin-bottom: 20px;
    max-height: 320px;
    padding: 10px;
  }

  .cake_s {
    -ms-flex-preferred-size: 235px;
    flex-basis: 235px;
  }

  .cake_s .cake__img {
    width: 80%;
  }

  .cake__img {
    width: 60%;
    max-width: 170px;
  }

  .cake .view {
    display: none;
  }

  /***************************************************/

  /*****************ChoseFilling**********************/

  .chooseBlock {
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);
    box-shadow: 0px 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);
    padding: 50px 40px 50px 40px;
  }

  .textBlock {
    display: block;
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }

  .fillingSlider .fillings {
    display: block;
  }

  .fillingSlider .fillings .imgBox {
    max-height: 150px;
    overflow: hidden;
    margin-bottom: 40px;
  }

  .fillingSlider .fillings__img {
    position: relative;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    width: 100%;
    height: 300px;
  }

  .fillingSlider .fillings .description {
    text-align: center;
  }

  .fillingSlider .fillings .description__title {
    text-align: left;
  }

  .fillingSlider .fillings .description__text {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
  }

  .fillingSlider .fillings .description__price {
    margin-bottom: 30px;
  }

  .fillingSlider .fillings .count {
    display: none;
  }

  .fillingSlider .my-dots {
    position: absolute;
    bottom: 51%;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .fillingSlider .my-dots li {
    position: relative;
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
  }

  .fillingSlider .my-dots li button {
    display: block;
    width: 5px;
    height: 5px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    background-color: #f61054;
    border-radius: 50%;
    border: 3px solid #f61054;
    outline: none;
  }

  .fillingSlider .my-dots li button:hover,
  .fillingSlider .my-dots li button:focus {
    outline: none;
  }

  .fillingSlider .my-dots li button:before {
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 16px;
    height: 16px;
    content: url("");
    border-radius: 50%;
    background-color: gray;
    text-align: center;
    color: black;
  }

  .fillingSlider .my-dots li.slick-active button:before {
    opacity: .01;
    color: #f61054;
  }

  /*****************************************************/
}

@media screen and (max-width: 320px) {
  body {
    background-size: 550px auto;
    background-position: center -380px;
  }

  /**************HEADER **********************************/

  .header {
    background: none;
  }

  .headerWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .title {
    margin-top: 120px;
    font-size: 45px;
    line-height: 0.8;
    color: #2e2829;
    font-weight: bold;
    text-align: center;
  }

  .subtitle {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .WrapperIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 42px;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .icons {
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .icons__img {
    height: 35px;
    width: auto;
    margin-right: 10px;
  }

  .icons__text {
    font-size: 14px;
    color: black;
    line-height: 1.2;
    text-align: left;
  }

  .btn {
    -ms-flex-item-align: center;
    align-self: center;
  }

  /**************Our Cake**********************************/

  .cake {
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-color: #fff;
    text-align: center;
    margin-bottom: 20px;
    max-height: 300px;
    padding: 10px;
  }

  .cake_s {
    -ms-flex-preferred-size: 180px;
    flex-basis: 180px;
  }

  .cake_s .cake__img {
    width: 60%;
  }

  .cake__img {
    width: 40%;
    max-width: 500px;
  }
}