body {
  background: #fbebea url("../img/header/tort.png") no-repeat;
  background-size: 67% auto;
  background-position: 138% 15px;
}

.container {
  max-width: 1220px;
}

body {
  margin: 0;
}

img {
  height: auto;
}

input,
button:focus {
  outline: none;
}

.floatReset {
  float: none;
}

.slick-active {
  outline: none;
}

@font-face {
  font-family: Intro Script R;
  src: url("../fonts/IntroScriptR-H2Base.otf") format("opentype");
}

@font-face {
  font-family: 'Circe';
  src: url("Circe-Bold.eot");
  src: local("Circe Bold"), local("Circe-Bold"), url("Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Bold.woff") format("woff"), url("../fonts/Circe/Circe-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Light';
  src: url("MyriadPro-Light.eot");
  src: url("MyriadPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/MyRiad/MyriadPro-Light.woff") format("woff"), url("../fonts/MyRiad/MyriadPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url("MyriadPro-Regular.eot");
  src: url("MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyRiad/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyRiad/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header {
  background: url("../img/header/berry.png") no-repeat;
  background-position: 35% 60px;
  background-size: 25% auto;
  margin-bottom: 245px;
}

.headerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.title {
  margin-top: 125px;
  font-size: 85px;
  font-family: "Playfair Display", serif;
  line-height: 0.8;
  color: #2e2829;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0;
}

.subtitle {
  font-family: "Intro Script R" , serif;
  text-align: left;
  font-size: 45px;
  margin-bottom: 60px;
}

.WrapperIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 10%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.icons {
  -ms-flex-preferred-size: 250px;
  flex-basis: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icons__img {
  max-width: 55px;
  height: auto;
  margin-right: 10px;
}

.icons__text {
  font-size: 16px;
  font-family: "Circe" , serif;
  color: black;
  line-height: 1.2;
  text-align: left;
}

.btn {
  background-color: #f50049;
  border: none;
  border-radius: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Circe";
  color: white;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 5px 7.04px 0.96px rgba(255, 0, 67, 0.3);
  box-shadow: 0px 5px 7.04px 0.96px rgba(255, 0, 67, 0.3);
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-left: 65px;
  padding-right: 65px;
}

.btn_offer,
.btn_s {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn_size {
  display: none;
}

.my-dots {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.my-dots li {
  position: relative;
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
}

.my-dots li button {
  display: block;
  width: 5px;
  height: 5px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  background-color: #f61054;
  border-radius: 50%;
  border: 3px solid #f61054;
  outline: none;
}

.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
}

.my-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: -2px;
  left: -1px;
  width: 20px;
  height: 20px;
  content: url("");
  border-radius: 50%;
  background-color: #dddddd;
  border: 5px solid white;
  text-align: center;
}

.my-dots li.slick-active button:before {
  opacity: 0;
}

.prev {
  border: none;
  position: absolute;
  width: 25px;
  height: 15px;
  background: url("../img/slider/arrowLeft.png") no-repeat center;
  z-index: 100;
}

.next {
  position: absolute;
  background-color: red;
  border: none;
  width: 25px;
  height: 15px;
  z-index: 100;
  background: url("../img/slider/arrowRight.png") no-repeat center;
}

.ourCake .title {
  font-size: 30px;
  margin-bottom: 70px;
}

.cakeWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}

.bigCake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 20px;
}

.bigCake_second {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-left: 20px;
  margin-right: 0;
}

.smallCakes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.cake {
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);
  box-shadow: 0px 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: #fff;
  text-align: center;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.cake .text {
  text-align: left;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  font-family: "Circe" , serif;
}

.cake .text__title {
  color: #2d2829;
}

.cake .text__subtitle {
  font-family: "Circe" , serif;
  color: rgba(45, 40, 41, 0.702);
}

.cake .view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Circe" , serif;
  color: #2d2829;
  font-size: 15px;
}

.cake .view__rightArrow {
  margin-left: 10px;
  width: 12px;
}

.cake_s {
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
}

.cake_s .cake__img {
  max-width: 280px;
  width: 80%;
}

.cake_s .view__text {
  display: none;
}

.cake__img {
  width: 90%;
  max-width: 500px;
}

.order .title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.order .subtitle {
  font-size: 25px;
  color: #32313d;
  text-align: center;
}

.chooseBlock {
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);
  box-shadow: 0px 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);
  padding: 75px 75px 50px 75px;
  margin-bottom: 30px;
}

.textBlock {
  display: inline-block;
  float: left;
  width: 100px;
  margin-right: 20px;
}

.textBlock__number {
  font-size: 35px;
  font-family: "Playfair Display", serif;
  color: #f50049;
  font-weight: bold;
}

.textBlock__subtitle {
  font-size: 20px;
  font-family: "Playfair Display", serif;
  color: #f50049;
  font-weight: bold;
}

.fillingSlider .fillings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.fillingSlider .fillings .imgBox {
  overflow: hidden;
  margin-right: 15px;
}

.fillingSlider .fillings__img {
  -ms-flex-preferred-size: 100px;
  flex-basis: 100px;
}

.fillingSlider .fillings .description {
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px;
  -ms-flex-item-align: center;
  align-self: center;
}

.fillingSlider .fillings .description__title {
  font-size: 16px;
  font-family: "Circe", serif;
  color: #2f2f2f;
  font-weight: bold;
}

.fillingSlider .fillings .description__text {
  font-size: 14px;
  font-family: "Circe";
  color: #2f2f2f;
  width: 250px;
  margin-bottom: 30px;
}

.fillingSlider .fillings .description__price {
  font-size: 16px;
  font-family: "Playfair Display", serif;
  color: #2f2f2f;
  font-weight: bold;
  margin-bottom: 50px;
}

.fillingSlider .fillings .count {
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-family: "Circe", serif;
  color: rgba(47, 47, 47, 0.702);
  font-size: 12px;
  text-align: left;
}

.fillingSlider .prev {
  background-color: red;
  border: none;
  position: absolute;
  top: 50%;
  left: 8%;
  width: 25px;
  height: 15px;
  background: url("../img/slider/arrowLeft.png") no-repeat center;
}

.fillingSlider .next {
  position: absolute;
  background-color: red;
  border: none;
  top: 50%;
  width: 25px;
  left: 94.2%;
  height: 15px;
  z-index: 100;
  background: url("../img/slider/arrowRight.png") no-repeat center;
}

.sizeSlider .itemBox__item {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.sizeSlider .itemBox .text {
  margin-top: 30px;
  font-family: "Circe";
  color: rgba(47, 47, 47, 0.8);
  line-height: 1.667;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.sizeSlider .itemBox .text .personCount {
  display: block;
}

.sizeSlider .itemBox .text_big {
  width: 200px;
}

.sizeSlider .itemBox .text_middle {
  width: 175px;
}

.sizeSlider .itemBox .text_middleS {
  width: 150px;
}

.sizeSlider .itemBox .text_small {
  width: 115px;
}

.sizeSlider .itemBox .MainSizeRing {
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  font-family: "Circe", serif;
  border-radius: 50%;
  border: 4px dotted black;
  height: 200px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sizeSlider .itemBox .MainSizeRing_middle {
  height: 175px;
  width: 175px;
}

.sizeSlider .itemBox .MainSizeRing_middleS {
  height: 150px;
  width: 150px;
}

.sizeSlider .itemBox .MainSizeRing_small {
  height: 105px;
  width: 105px;
}

.sizeSlider .itemBox .sizeRing {
  color: #2f2f2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  border: 4px dotted black;
  height: 70%;
  width: 70%;
}

.sizeSlider .prev {
  background-color: red;
  border: none;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 25px;
  height: 15px;
  background: url("../img/slider/arrowLeft.png") no-repeat center;
}

.sizeSlider .next {
  position: absolute;
  background-color: red;
  border: none;
  top: 50%;
  width: 25px;
  left: 99.2%;
  height: 15px;
  z-index: 100;
  background: url("../img/slider/arrowRight.png") no-repeat center;
}

.chooseBlock_Decor {
  margin-bottom: 0px;
}

.chooseBlock_Decor .btn_decor {
  display: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.chooseBlock_Decor .cakeBgc {
  margin-top: 20px;
  height: 200px;
  width: 120%;
  background: url("../img/decor/bgc.png") no-repeat center;
  background-size: 120% auto;
}

.chooseBlock_Decor .prev {
  top: 50%;
  left: 15%;
}

.chooseBlock_Decor .next {
  top: 50%;
  left: 94%;
}

.chooseBlock_Decor .itemBox__item .imageBox .decorImg {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: auto;
}

.chooseBlock_Decor .decorText {
  margin-top: -25%;
  text-align: center;
}

.chooseBlock_Decor .decorText__name {
  font-family: "Circe";
  color: #2f2f2f;
  line-height: 1.5;
}

.chooseBlock_Decor .decorText__price {
  font-family: "Playfair Display", serif;
  color: #2f2f2f;
  font-weight: bold;
}

.chooseBlock_Decor .yourChoice {
  margin-top: 30px;
}

.chooseBlock_Decor .yourChoice .tittle {
  display: block;
  margin-left: 0;
  padding: 0;
}

.yourChoice__tittle {
  margin-bottom: 15px;
  font-family: "Playfair Display", serif;
  color: #2d2829;
  font-weight: bold;
}

.choiceBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.choiceBlockItem__tittle {
  font-size: 20px;
  font-family: "Intro Script R", serif;
  color: #f50049;
  margin-bottom: 10px;
}

.choiceBlockItem__value {
  border: none;
  border-bottom: 1px solid #dddddd;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 12px;
}

.btn_offer {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.feedback {
  background: url("../img/feedback/feedback_bg.png") no-repeat top;
  border: 2px solid transparent;
  margin-bottom: 100px;
}

.tittleFeedback {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: #2d2829;
  font-weight: bold;
  text-align: center;
  margin-top: 115px;
}

.feedbackSlider .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
}

.feedbackSlider .item__image {
  border-radius: 50%;
}

.feedbackSlider .item .text {
  -ms-flex-preferred-size: 355px;
  flex-basis: 355px;
  margin-left: 55px;
}

.feedbackSlider .item .text__name {
  font-size: 27px;
  font-family: "Circe", serif;
  color: #2d2829;
  font-weight: bold;
}

.feedbackSlider .item .text__subtittle {
  font-size: 20px;
  font-family: "Circe";
  color: #2d2829;
  font-weight: normal;
}

.feedbackSlider .item .text__feedback {
  font-size: 16px;
  font-family: "Playfair Display", serif;
  color: #2d2829;
}

.feedbackSlider .prev {
  top: 50%;
  left: 15%;
}

.feedbackSlider .next {
  top: 50%;
  right: 15%;
}

.about {
  margin-bottom: 130px;
}

.tittleAbout {
  font-size: 40px;
  font-family: "Playfair Display", serif;
  color: #2d2829;
  font-weight: bold;
}

.aboutBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.aboutBox .aboutText {
  -ms-flex-preferred-size: 550px;
  flex-basis: 550px;
}

.aboutBox .aboutText__tittle {
  font-size: 25px;
  font-family: "Intro Script R";
  color: #32313d;
}

.aboutBox .aboutText__subtittle {
  font-family: "Circe", serif;
  font-size: 20px;
  font-family: "Circe";
  color: #2d2829;
  font-weight: bold;
}

.aboutBox .aboutText__text {
  font-family: "Circe", serif;
  font-size: 16px;
  color: #2d2829;
  margin-bottom: 25px;
}

.aboutBox .imgBox {
  -ms-flex-preferred-size: 500px;
  flex-basis: 500px;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}

.aboutBox .imgBox__img {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.aboutText__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutText__social_small {
  display: none;
}

.socialBox {
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
  color: #f61f5f;
}

.signBox {
  text-align: center;
}

.signBox__quotes {
  font-size: 80px;
  font-family: "Playfair Display", serif;
  color: #fffefe;
  font-weight: bold;
  margin-bottom: 36px;
}

.signBox__text {
  max-width: 625px;
  margin-right: auto;
  margin-left: auto;
  font-size: 22px;
  font-family: "Playfair Display", serif;
  color: #2d2829;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 50px;
}

.tittle_advantages {
  text-align: center;
  font-size: 40px;
  font-family: "Playfair Display", serif;
  color: #2d2829;
  font-weight: bold;
}

.subtittle_advantages {
  text-align: center;
  font-size: 30px;
  font-family: "Intro Script R";
  color: #32313d;
  margin-bottom: 120px;
}

.advantagesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  overflow: visible;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.imgBox_adv {
  position: absolute;
  left: 0;
}

.advantagesContainer_left {
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  overflow: visible;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.imgBox_adv-left {
  position: relative;
}

.imgAdv {
  width: 95%;
}

.advantagesBlock {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.advantageItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}

.advantageItem .iconBox .icon {
  width: 60px;
}

.advantageItem .textBox {
  margin-left: 20px;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
}

.advantageItem .textBox__tittle {
  font-size: 20px;
  font-family: "Circe";
  font-weight: bold;
}

.advantageItem .textBox__tittle_left {
  font-size: 40px;
  font-family: "Playfair Display" serif;
  color: #2d2829;
  font-weight: bold;
  margin-bottom: 15px;
}

.advantageItem .textBox__subtittle {
  font-size: 30px;
  font-family: "Intro Script R", serif;
  color: #32313d;
  margin-bottom: 15px;
}

.advantageItem .textBox__text {
  font-size: 16px;
  font-family: "Circe";
}

.advantageItem .textBox__text_left {
  font-size: 18px;
  font-family: "Circe";
  color: black;
}

.advantageItem .textBox_left {
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px;
  margin-left: 0px;
}

.howToOrder {
  background: url("../img/howToOrder/bgc.jpg") no-repeat center;
  background-size: cover;
}

.orderWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.orderTextBlock {
  margin-top: 130px;
  margin-bottom: 180px;
  -ms-flex-preferred-size: 500px;
  flex-basis: 500px;
}

.orderItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.tittle_order {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  color: white;
  font-weight: bold;
  margin-bottom: 45px;
}

.item__number {
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-size: 35px;
  font-family: "Playfair Display", serif;
  color: white;
  font-weight: bold;
  -webkit-transform: translateY(-14px);
  transform: translateY(-14px);
  margin-right: 15px;
}

.textBlock__tittle {
  font-size: 20px;
}

.textBlock__tittle__text {
  font-size: 18px;
}

.textBlock_order {
  font-family: "Circe", serif;
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px;
  color: white;
}

.orderImageBox {
  display: none;
}

.contacts {
  background: url("../img/questions/bgc.jpg") no-repeat;
  background-position: 100% 100%;
  background-size: 50% auto;
  padding-bottom: 108px;
}

.contacts_title {
  font-size: 30px;
  margin-top: 80px;
  margin-bottom: 45px;
}

.contactsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.contactsBlock__title {
  font-family: "Intro Script R";
  font-size: 25px;
  color: #32313d;
  margin-bottom: 30px;
}

.contactsBlock__subtitle {
  font-size: 20px;
  font-family: "Myriad Pro Regular", serif;
  margin-bottom: 40px;
}

.contactsBlock__input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #c9bcbb;
  padding-top: 20px;
  background: transparent;
}

.contactsBlock__input_quest {
  margin-bottom: 80px;
  outline: none;
  resize: none;
}

.contactsBlock__email {
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "Myriad Pro Regular", serif;
}

.contactsBlock_right {
  margin-left: 80px;
}

.phoneBlock {
  font-size: 20px;
  font-family: "Myriad Pro Regular", serif;
  margin-bottom: 30px;
}

.phoneBlock span {
  display: block;
}

.socialText {
  font-size: 20px;
  font-family: "Myriad Pro Regular", serif;
  margin-bottom: 20px;
}

.socialBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialBox_contact {
  width: 60px;
  height: 60px;
  font-size: 30px;
}

@media screen and (max-width: 1280px) {
  .header {
    padding-left: 75px;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-size: 80% auto;
    background-position: 223% 0px;
  }

  /**************HEADER **********************************/

  .header {
    background: url("../img/header/berry768.png") no-repeat;
    background-position: 45% 60px;
    background-size: 15% auto;
    padding-left: 45px;
  }

  .title {
    font-size: 60px;
  }

  .subtitle {
    font-size: 30px;
  }

  .WrapperIcons {
    margin-top: 23%;
  }

  .icons {
    -ms-flex-preferred-size: 218px;
    flex-basis: 218px;
    margin-bottom: 15px;
  }

  .icons__text {
    font-size: 14px;
  }

  /**************Our Cake**********************************/

  .ourCake .title {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .cake_s {
    -ms-flex-preferred-size: 100px;
    flex-basis: 100px;
  }

  .cake_s .cake__img {
    max-width: 280px;
    width: 80%;
  }

  /*****************************************************/

  /*****************ChoseFilling**********************/

  .chooseBlock {
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);
    box-shadow: 0px 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);
    padding: 50px 40px 50px 40px;
  }

  .textBlock {
    display: inline-block;
    float: left;
    width: 100px;
    margin-right: 15px;
  }

  .fillingSlider .fillings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .fillingSlider .fillings .imgBox {
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    overflow: hidden;
  }

  .fillingSlider .fillings__img {
    width: 215px;
    height: 237px;
  }

  .fillingSlider .fillings .description {
    margin-left: 10px;
    -ms-flex-preferred-size: 80px;
    flex-basis: 80px;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .fillingSlider .fillings .description__text {
    margin-bottom: 20px;
  }

  .fillingSlider .fillings .description__price {
    margin-bottom: 30px;
  }

  /*****************************************************/

  /***************ChooseSize**************************/

  .chooseBlock_size .textBlock {
    margin-right: -100px;
  }

  .sizeSlider .itemBox .text .personCount {
    display: block;
  }

  .sizeSlider .itemBox .text_big {
    width: 140px;
  }

  .sizeSlider .itemBox .text_middle {
    width: 120px;
  }

  .sizeSlider .itemBox .text_middleS {
    width: 100px;
  }

  .sizeSlider .itemBox .text_small {
    width: 75px;
  }

  .sizeSlider .itemBox .MainSizeRing {
    height: 140px;
    width: 140px;
  }

  .sizeSlider .itemBox .MainSizeRing_middle {
    height: 120px;
    width: 120px;
  }

  .sizeSlider .itemBox .MainSizeRing_middleS {
    height: 100px;
    width: 100px;
  }

  .sizeSlider .itemBox .MainSizeRing_small {
    height: 75px;
    width: 75px;
  }

  /****************************************************************/

  /**************************ChooseDecor**************************/

  .chooseBlock_Decor .cakeBgc {
    margin-top: 20px;
    height: 100px;
    width: 80%;
    background: url("../img/decor/bgc.png") no-repeat center;
    background-size: 120% auto;
  }

  .chooseBlock_Decor .prev {
    top: 50%;
    left: 19%;
  }

  .chooseBlock_Decor .itemBox__item .imageBox .decorImg {
    width: 80%;
  }

  .choiceBlockItem__value {
    border-radius: 20px;
    border: 1px solid #dddddd;
    width: 150px;
  }

  .choiceBlockItem_size__value {
    width: 70px;
  }

  .btn_offer {
    padding-right: 40px;
    padding-left: 40px;
  }

  /************************************************************************/

  /*******************************Feedback********************************/

  .feedback {
    background: url("../img/feedback/feedback_bg.png") no-repeat top;
    border: 2px solid transparent;
    margin-bottom: 100px;
  }

  .tittleFeedback {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    color: #2d2829;
    font-weight: bold;
    text-align: center;
    margin-top: 115px;
  }

  .feedbackSlider .prev {
    top: 50%;
    left: 1%;
  }

  .feedbackSlider .next {
    top: 50%;
    right: 1%;
  }

  /***************************************************************************/

  /*******************************About*************************************/

  .aboutBox .aboutText__subtittle {
    font-size: 16px;
  }

  .aboutBox .aboutText__text {
    font-size: 14px;
    margin-bottom: 14px;
  }

  /**************************************************************************/

  /********************************Advanteges*******************************/

  .imgBox_adv {
    position: absolute;
    left: 0;
  }

  .advantagesContainer_left {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .imgBox_adv-left {
    position: relative;
    -ms-flex-preferred-size: 400px;
    flex-basis: 400px;
    text-align: right;
  }

  .imgAdv {
    width: 70%;
  }

  .imgAdv_left {
    width: 90%;
  }

  .advantageItem .textBox__tittle_left {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .advantageItem .textBox__subtittle {
    font-size: 30px;
    font-family: "Intro Script R", serif;
    color: #32313d;
    margin-bottom: 15px;
  }

  .advantageItem .textBox__text_left {
    font-size: 18px;
    font-family: "Circe", serif;
    color: black;
  }

  .advantageItem .textBox_left {
    -ms-flex-preferred-size: 400px;
    flex-basis: 400px;
    margin-left: 0px;
  }

  /*************************************************************************/

  /********************************howToOrder******************************/

  .howToOrder {
    background: #e53940 url("../img/howToOrder/bgcSM.jpg") no-repeat center;
    background-size: cover;
  }

  .orderTextBlock {
    margin-top: 50px;
    margin-bottom: 40px;
    -ms-flex-preferred-size: 440px;
    flex-basis: 440px;
  }

  /*************************************************************************/

  /****************************Contacts***********************************/

  .contactsBlock__input {
    background: white;
    margin-bottom: 10px;
    border-radius: 3px;
    border-bottom: none;
    padding-bottom: 20px;
    padding-left: 10px;
  }

  .contactsBlock__input_quest {
    margin-bottom: 30px;
    outline: none;
    resize: none;
    height: 120px;
  }

  .contactsBlock__email {
    margin-bottom: 30px;
    font-size: 20px;
    font-family: "Myriad Pro Regular", serif;
  }

  /***********************************************************************/
}

@media screen and (max-width: 576px) {
  body {
    background-size: 550px auto;
    background-position: center -380px;
  }

  /**************HEADER **********************************/

  .header {
    background: none;
    padding-left: 0;
    margin-bottom: 25px;
  }

  .headerWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .title {
    margin-top: 50px;
    font-family: "Playfair Display";
    line-height: 0.8;
    color: #2e2829;
    font-weight: bold;
    text-align: center;
  }

  .subtitle {
    font-family: "Intro Script R";
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .WrapperIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 42px;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .icons {
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .icons__img {
    width: auto;
    margin-right: 10px;
  }

  .icons__text {
    font-family: "Circe";
    color: black;
    line-height: 1.2;
    text-align: left;
  }

  .btn {
    -ms-flex-item-align: center;
    align-self: center;
  }

  /**************OUR Cake**********************************/

  .ourCake .title {
    margin-bottom: 35px;
  }

  .cakeWrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .cakeWrapper .bigCake {
    margin: 0;
  }

  .cakeWrapper .smallCakes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 400px;
    flex-basis: 400px;
  }

  .cake {
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-color: #fff;
    text-align: center;
    margin-bottom: 20px;
    max-height: 320px;
    padding: 10px;
  }

  .cake_s {
    -ms-flex-preferred-size: 235px;
    flex-basis: 235px;
  }

  .cake_s .cake__img {
    width: 80%;
  }

  .cake__img {
    width: 60%;
    max-width: 170px;
  }

  .cake .view {
    display: none;
  }

  /***************************************************/

  /*****************ChoseFilling**********************/

  .textBlock {
    display: block;
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }

  .textBlock__number {
    display: inline;
  }

  .textBlock__subtitle {
    display: inline;
  }

  .fillingSlider .fillings {
    display: block;
    position: relative;
  }

  .fillingSlider .fillings .imgBox {
    text-align: center;
    max-height: 150px;
    overflow: hidden;
    margin-bottom: 40px;
    width: 100%;
  }

  .fillingSlider .fillings__img {
    position: relative;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    width: 100%;
    height: 300px;
  }

  .fillingSlider .fillings .description {
    text-align: center;
  }

  .fillingSlider .fillings .description__title {
    text-align: left;
  }

  .fillingSlider .fillings .description__text {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
  }

  .fillingSlider .fillings .description__price {
    margin-bottom: 30px;
  }

  .fillingSlider .fillings .count {
    position: absolute;
    color: white;
    top: 125px;
    left: -50px;
    z-index: 100;
  }

  .fillingSlider .my-dots {
    top: 150px;
  }

  /*****************************************************/

  /***************ChooseSize**************************/

  .chooseBlock {
    padding: 15px 20px 25px 20px;
  }

  .sizeSlider .my-dots {
    top: 130px;
  }

  .sizeSlider .itemBox__item {
    height: 250px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .sizeSlider .itemBox .ringBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 200px;
  }

  .sizeSlider .itemBox .text .personCount {
    display: block;
  }

  .sizeSlider .itemBox .text_big {
    width: 120px;
  }

  .sizeSlider .itemBox .text_middle {
    width: 110px;
  }

  .sizeSlider .itemBox .text_middleS {
    width: 90px;
  }

  .sizeSlider .itemBox .text_small {
    width: 75px;
  }

  .sizeSlider .itemBox .MainSizeRing {
    height: 120px;
    width: 120px;
  }

  .sizeSlider .itemBox .MainSizeRing_middle {
    height: 110px;
    width: 110px;
  }

  .sizeSlider .itemBox .MainSizeRing_middleS {
    height: 90px;
    width: 90px;
  }

  .sizeSlider .itemBox .MainSizeRing_small {
    height: 75px;
    width: 75px;
  }

  .sizeSlider .prev {
    background-color: red;
    border: none;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 25px;
    height: 15px;
    background: url("../img/slider/arrowLeft.png") no-repeat center;
  }

  .sizeSlider .next {
    position: absolute;
    background-color: red;
    border: none;
    top: 50%;
    width: 25px;
    left: 99.2%;
    height: 15px;
    z-index: 100;
    background: url("../img/slider/arrowRight.png") no-repeat center;
  }

  /****************************************************************/

  /**************************ChooseDecor**************************/

  .chooseBlock_Decor .btn_decor {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .chooseBlock_Decor .cakeBgc {
    display: none;
  }

  .chooseBlock_Decor .itemBox__item .imageBox .decorImg {
    width: 80%;
    max-height: 500px;
  }

  .chooseBlock_Decor .decorText {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .chooseBlock_Decor .my-dots {
    bottom: 120px;
  }

  .choiceBlock {
    text-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .choiceBlockItem {
    width: 100%;
    margin-bottom: 10px;
  }

  .choiceBlockItem__value {
    width: 100%;
  }

  .choiceBlockItem_size__value {
    width: 100%;
  }

  .btn_offer {
    margin-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
  }

  /************************************************************************/

  /****************************Feedback************************************/

  .feedbackSlider .item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .feedbackSlider .item .text {
    margin-left: 0;
  }

  .feedbackSlider .item .text__name {
    text-align: center;
  }

  .feedbackSlider .item .text__subtittle {
    text-align: center;
  }

  .feedbackSlider .my-dots li button:before {
    background-color: #ffffff;
    border: 5px solid #fbebea;
  }

  /********************************************************************/

  /******************************About********************************/

  .tittleAbout {
    text-align: center;
  }

  .aboutBox {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .aboutBox .aboutText {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .aboutBox .imgBox {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-transform: none;
    transform: none;
    margin-bottom: 15px;
  }

  .aboutBox .imgBox__img {
    width: 60%;
    height: auto;
  }

  .aboutText__social {
    display: none;
  }

  .aboutText__social_small {
    display: block;
  }

  .imgBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: none;
    transform: none;
  }

  .socialBox {
    margin-bottom: 15px;
    margin-right: 0;
  }

  .signBox {
    text-align: center;
  }

  .signBox__quotes {
    font-size: 80px;
    font-family: "Playfair Display", serif;
    color: #fffefe;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .signBox__text {
    max-width: 625px;
    margin-right: auto;
    margin-left: auto;
    font-size: 22px;
    font-family: "Playfair Display", serif;
    color: #2d2829;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 50px;
  }

  /******************************************************************/

  /********************************Advanteges*******************************/

  .tittle_advantages {
    font-size: 30px;
  }

  .subtittle_advantages {
    margin-bottom: 30px;
  }

  .imgBox_adv {
    display: none;
  }

  .imgBox_adv-left {
    display: block;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    overflow: hidden;
    height: 130px;
  }

  .advantagesContainer_left {
    margin-top: 50px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .advantagesBlock {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .advantageItem {
    background-color: #fff;
    margin-bottom: 0px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .advantageItem_left {
    background-color: transparent;
  }

  .advantageItem .iconBox {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
  }

  .advantageItem .textBox {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
  }

  .advantageItem .textBox_left {
    text-align: left;
    margin-left: 0px;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }

  /*************************************************************************/

  /*********************************howToOrder******************************/

  .howToOrder {
    background: url("../img/howToOrder/bgsXSM.jpg") no-repeat center;
    background-size: cover;
  }

  .orderWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .orderItem {
    margin-bottom: 20px;
  }

  .orderImageBox {
    display: block;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  .orderImageBox__img {
    width: 100%;
    height: auto;
  }

  .orderTextBlock {
    margin-top: 50px;
    margin-bottom: 0;
    -ms-flex-preferred-size: none;
    flex-basis: none;
  }

  /**************************************************************************/

  /****************************Contacts***********************************/

  .contacts {
    background: none;
    padding-bottom: 0;
  }

  .contactsWrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .contactsBlock {
    margin-bottom: 20px;
    width: 100%;
  }

  .contactsBlock_right {
    margin-left: 0;
    margin-bottom: 0;
  }

  .btnWrapper {
    text-align: center;
  }

  .btn_contacts {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .socialBox_contact {
    margin: 10px;
  }

  .contactsBlock__input {
    width: 100%;
  }

  /***********************************************************************/
}

@media screen and (max-width: 320px) {
  body {
    background-size: 550px auto;
    background-position: center -380px;
  }

  /**************HEADER **********************************/

  .header {
    background: none;
  }

  .headerWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .title {
    margin-top: 120px;
    font-size: 45px;
    line-height: 0.8;
    color: #2e2829;
    font-weight: bold;
    text-align: center;
  }

  .subtitle {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .WrapperIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 42px;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .icons {
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .icons__img {
    height: 35px;
    width: auto;
    margin-right: 10px;
  }

  .icons__text {
    font-size: 14px;
    color: black;
    line-height: 1.2;
    text-align: left;
  }

  .btn {
    -ms-flex-item-align: center;
    align-self: center;
  }

  /**************Our Cake**********************************/

  .cake {
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-color: #fff;
    text-align: center;
    margin-bottom: 20px;
    max-height: 300px;
    padding: 10px;
  }

  .cake_s {
    -ms-flex-preferred-size: 150px;
    flex-basis: 150px;
  }

  .cake_s .cake__img {
    width: 60%;
  }

  .cake__img {
    width: 40%;
    max-width: 500px;
  }

  /************************ChooseSize****************/

  .order .title {
    margin-top: 50px;
  }

  .sizeSlider .itemBox__item {
    height: 350px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .sizeSlider .itemBox .ringBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 200px;
  }

  .sizeSlider .itemBox .text {
    text-align: center;
  }

  .sizeSlider .itemBox .text_big {
    width: 100%;
  }

  .sizeSlider .itemBox .text_middle {
    width: 100%;
  }

  .sizeSlider .itemBox .text_middleS {
    width: 100%;
  }

  .sizeSlider .itemBox .text_small {
    width: 100%;
  }

  .sizeSlider .itemBox .MainSizeRing {
    height: 165px;
    width: 165px;
  }

  .sizeSlider .itemBox .MainSizeRing_middle {
    height: 140px;
    width: 140px;
  }

  .sizeSlider .itemBox .MainSizeRing_middleS {
    height: 120px;
    width: 120px;
  }

  .sizeSlider .itemBox .MainSizeRing_small {
    height: 100px;
    width: 100px;
  }

  .sizeSlider .my-dots {
    top: 190px;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  .btn_size {
    display: block;
  }

  /*************************************************/

  /********************************Advanteges*******************************/

  .imgBox_adv-left {
    height: 140px;
  }

  .imgAdv_left {
    width: 160%;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  .advantageItem .textBox {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
  }

  .advantageItem .textBox__tittle {
    font-family: "Playfair Display", serif;
  }

  .advantageItem .textBox__tittle_left {
    font-size: 24px;
  }

  .advantageItem .textBox_left {
    text-align: left;
    margin-left: 0px;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }

  /*************************************************************************/
}