.tittle_advantages{
	text-align: center;
	font-size: 40px;
	font-family: "Playfair Display", serif;
	color: rgb(45, 40, 41);
	font-weight: bold;
}

.subtittle_advantages{
	text-align: center;
	font-size: 30px;
	font-family: "Intro Script R";
	color: rgb(50, 49, 61);
	margin-bottom: 120px;
}

.advantagesContainer{
	display: flex;
	justify-content: flex-end;
	overflow: visible;
	align-items: center;
}

.imgBox_adv{
	position: absolute;
	left: 0;
}
.advantagesContainer_left{
	margin-top: 110px;
	display: flex;
	flex-direction: row-reverse;
	overflow: visible;
	align-items: center;
}

.imgBox_adv-left{
	position: relative;
}




.imgAdv{
	width: 95%;
}

.advantagesBlock{
	flex-basis: 50%;
}

.advantageItem{
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	.iconBox{
		.icon{
			width: 60px;
		}
	}
	.textBox{
		margin-left: 20px;
		flex-basis: 300px;
		&__tittle{
			font-size: 20px;
			font-family: "Circe";
			font-weight: bold;
			&_left{
				font-size: 40px;
				font-family: "Playfair Display" serif;
				color: rgb(45, 40, 41);
				font-weight: bold;
				margin-bottom: 15px;
			}
		}
		&__subtittle{
			font-size: 30px;
			font-family: "Intro Script R", serif;
			color: rgb(50, 49, 61);
			margin-bottom: 15px;
		}
		&__text{
			font-size: 16px;
			font-family: "Circe";
			&_left{
				font-size: 18px;
				font-family: "Circe";
				color: rgb(0, 0, 0);
			}
		}
	}
	.textBox_left{
		flex-basis: 400px;
		margin-left: 0px;

	}
}