


.sizeSlider{

			.itemBox{
				
				&__item{
					height: 300px;
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
				}
				
							
				.text{
					margin-top: 30px;
					font-family: "Circe";
					color: rgba(47, 47, 47, 0.8);
					line-height: 1.667;
					text-align: left;
					margin-left: auto;
					margin-right: auto;
					.personCount{
						display: block;
					}
				}

				.text_big{
					width: 200px;
				}

				.text_middle{
					width: 175px;
				}

				.text_middleS{
					width: 150px;
				}

				.text_small{
					width: 115px;
				}

				.MainSizeRing{
					margin-left: auto;
					margin-right: auto;
					font-size: 10px;
					font-family: "Circe", serif;
					border-radius: 50%;
					border: 4px dotted black;
					height: 200px;
					width: 200px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.MainSizeRing_middle{
					height: 175px;
					width: 175px;
				}
				.MainSizeRing_middleS{
					height: 150px;
					width: 150px;
				}
				.MainSizeRing_small{
					height: 105px;
					width: 105px;
				}
				.sizeRing{
					color: rgb(47, 47, 47);
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					border: 4px dotted black;
					height: 70%;
					width: 70%;
				}
		}

		.prev{
			background-color: red;
			border: none;
			position: absolute;
			top: 50%;
			left: 10%;
			width: 25px;
			height: 15px;
			background: url(../img/slider/arrowLeft.png) no-repeat center;

		}

		.next{
			position: absolute;
			background-color: red;
			border: none;
			top: 50%;
			width: 25px;
			left: 99.2%;
			height: 15px;
			z-index: 100;		
			background: url(../img/slider/arrowRight.png) no-repeat center;
		}	

}