.sizeSlider{
	display: flex;
	align-items: flex-end;
	flex-direction: row-reverse;
	justify-content: space-around;

			.item{
				flex-basis: 200px;
				
				.text{
					margin-top: 30px;
					font-family: "Circe";
					color: rgba(47, 47, 47, 0.8);
					line-height: 1.667;
					text-align: left;
				}

				.MainSizeRing{
					border-radius: 50%;
					border: 4px dotted black;
					height: 200px;
					width: 200px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.MainSizeRing_middle{
					border-radius: 50%;
					border: 4px dotted black;
					height: 175px;
					width: 175px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.MainSizeRing_middleS{
					border-radius: 50%;
					border: 4px dotted black;
					height: 150px;
					width: 150px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.MainSizeRing_small{
					border-radius: 50%;
					border: 4px dotted black;
					height: 105px;
					width: 105px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.sizeRing{
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					border: 4px dotted black;
					height: 70%;
					width: 70%;
				}
		}
	

}