.feedback{
	background: url(../img/feedback/feedback_bg.png) no-repeat top;
	height: 100vh;
	border: 2px solid transparent;
}

.tittleFeedback{
	font-family: "Playfair Display", serif;
	font-size: 30px;
	color: rgb(45, 40, 41);
	font-weight: bold;
	text-align: center;
	margin-top: 115px;
}


.feedbackSlider{
	.item{
		display: flex;
		justify-content: center;
		max-width: 740px;
		margin-left: auto;
		margin-right: auto;
		&__image{
			border-radius: 50%;
		}
		.text{
			flex-basis: 355px;
			margin-left: 55px;
			&__name{
				font-size: 27px;
				font-family: "Circe", serif;
				color: rgb(45, 40, 41);
				font-weight: bold;
			}
			&__subtittle{
				font-size: 20px;
				font-family: "Circe";
				color: rgb(45, 40, 41);
				font-weight: normal;
			}
			&__feedback{
				font-size: 16px;
				font-family: "Playfair Display", serif;
				color: rgb(45, 40, 41);
			}

		}
	}
}