footer{
    background-color: #e8e8e8;
}

.footerMenu{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item{
        font-family: "Myriad Pro Regular", serif;
        &_Social{
            display: flex;
        }
        &_logo{
            font-family: "Playfair Display";
            color: rgb(45, 40, 41);
            font-weight: bold;
            font-size: 20px;
        }       
    }

}

.socialBox_footer{
    background-color: transparent;
    color: #8f8f8f;
    font-size: 25px;
}

.copyright{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #d0d0d0;
    text-align: center;
    font-family: "Roboto";
    color: rgba(0, 0, 0, 0.352);
    &__item_Social{
        display: none;
    }
}