@media screen and (max-width: 768px){

body{
	background-size: 80% auto;
	background-position: 223% 0px;
}
/**************HEADER **********************************/
.header{
	background: url(../img/header/berry768.png) no-repeat; 
	background-position: 45% 60px;
	background-size: 15% auto;
	padding-left: 45px;
}

.title{
	font-size: 60px;
}

.subtitle{
	font-size: 30px;
}

.WrapperIcons{
	margin-top: 23%;
}

.icons{
	flex-basis: 218px;
	margin-bottom: 15px;
	&__text{
		font-size: 14px;
	}
}

/**************Our Cake**********************************/

.ourCake{
	.title{
		font-size: 30px;
		margin-bottom: 40px;
	}
}

.cakeWrapper{
	margin-bottom: 0;
}

	.bigCake{
			display: flex;
			flex-grow: 1;
			margin-right: 0;
		}

		.bigCake_second{
				margin-right: 0;
				margin-left: 0;
		}

.cake__img{
	width: 30%;
	max-width: 200px;
}

.cake{
		.view{
		display: none;
	}
}
/*****************************************************/
}