@media screen and (max-width: 320px){

	body{

		background-size: 550px auto;
		background-position: center -380px;

	}

/**************HEADER **********************************/

	.header{
		background: none;
	}

	.headerWrapper{
		display: flex;
		flex-direction: column;
	}


	.title{
		margin-top: 120px;
		font-size: 45px;
		line-height: 0.8;
		color: rgb(46, 40, 41);
		font-weight: bold;
		text-align: center;

	}

	.subtitle{
		text-align: center;
		font-size: 22px;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.WrapperIcons{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 42px;
		order: 0;
		margin-top: 10px;
		margin-bottom: 30px;
	}

	.icons{
		flex-basis: 300px;
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		&__img{
			height: 35px;
			width: auto;
			margin-right: 10px;
		}
		&__text{
			font-size: 14px;
			color: rgb(0, 0, 0);
			line-height: 1.2;
			text-align: left;
		}
	}

	.btn{
		align-self: center;
	}

/**************Our Cake**********************************/

.cake{
	overflow: hidden;
	flex-grow: 1;
	background-color: #fff;
	text-align: center;
	margin-bottom: 20px;
	max-height: 300px;
	padding: 10px;
}

.cake_s{
		flex-basis: 150px;
		.cake__img{
		width: 60%;
	}
}

.cake__img{
	width: 40%;
	max-width: 500px;
}


/************************ChooseSize****************/

.order{
	.title{
		margin-top: 50px;
	}
}

.sizeSlider{

			.itemBox{
				
				&__item{
					height: 350px;
					justify-content: space-between;	
				}
				
							
				.text{
					text-align: center;
				}

				.text_big{
					width: 100%;
				}

				.text_middle{
					width: 100%;
				}

				.text_middleS{
					width: 100%;
				}

				.text_small{
					width: 100%;
				}

				.MainSizeRing{

					height: 165px;
					width: 165px;

				}
				.MainSizeRing_middle{
					height: 140px;
					width: 140px;
				}
				.MainSizeRing_middleS{
					height: 120px;
					width: 120px;
				}
				.MainSizeRing_small{
					height: 100px;
					width: 100px;
				}
				.sizeRing{

				}
		}

.my-dots {
top: 155px;
transform: translateX(-10px);
}

}

.btn_size{
	display: block;
}

/*************************************************/

}