@media screen and (max-width: 320px){

	body{

		background-size: 550px auto;
		background-position: center -380px;

	}

	.header{
		background: none;
	}

	.headerWrapper{
		display: flex;
		flex-direction: column;
	}


	.title{
		margin-top: 120px;
		font-size: 45px;
		font-family: "Playfair Display";
		line-height: 0.8;
		color: rgb(46, 40, 41);
		font-weight: bold;
		text-align: center;

	}

	.subtitle{
		font-family: "Intro Script R";
		text-align: center;
		font-size: 22px;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.WrapperIcons{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 42px;
		order: 0;
		margin-top: 10px;
		margin-bottom: 30px;
	}

	.icons{
		flex-basis: 300px;
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		&__img{
			height: 35px;
			width: auto;
			margin-right: 10px;
		}
		&__text{
			font-size: 14px;
			font-family: "Circe";
			color: rgb(0, 0, 0);
			line-height: 1.2;
			text-align: left;
		}
	}

	.btn{
		align-self: center;
	}

}