@media screen and (max-width: 576px){

	body{

		background-size: 550px auto;
		background-position: center -380px;

	}
/**************HEADER **********************************/
	.header{
		background: none;
		padding-left: 0;
		margin-bottom: 25px;
	}

	.headerWrapper{
		display: flex;
		flex-direction: column;
	}


	.title{
		margin-top: 50px;
		font-family: "Playfair Display";
		line-height: 0.8;
		color: rgb(46, 40, 41);
		font-weight: bold;
		text-align: center;
	}

	.subtitle{
		font-family: "Intro Script R";
		text-align: center;

		margin-top: 20px;
		margin-bottom: 10px;
	}

	.WrapperIcons{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 42px;
		order: 0;
		margin-top: 10px;
		margin-bottom: 30px;
	}

	.icons{
		flex-basis: 300px;
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		&__img{
			
			width: auto;
			margin-right: 10px;
		}
		&__text{
			font-family: "Circe";
			color: rgb(0, 0, 0);
			line-height: 1.2;
			text-align: left;
		}
	}

	.btn{
		align-self: center;
	}

/**************OUR Cake**********************************/
	.ourCake{
		.title{
			margin-bottom: 35px;
		}
	}

.cakeWrapper{
	flex-wrap: wrap;
	margin-bottom: 0;

	.bigCake{
			margin: 0;
		}
	.smallCakes{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
		flex-basis: 400px;
	}
}

.cake{
	overflow: hidden;
	flex-grow: 1;
	background-color: #fff;
	text-align: center;
	margin-bottom: 20px;
	max-height: 320px;
	padding: 10px;
}

.cake_s{
		flex-basis: 235px;
		.cake__img{
		width: 80%;
	}
}

.cake__img{
	width: 60%;
	max-width: 170px;
}



.cake{
		.view{
		display: none;
	}
}

/***************************************************/

/*****************ChoseFilling**********************/

.chooseBlock{
	background-color: #fff;
	box-shadow: 0px 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);
	padding: 50px 40px 50px 40px;
}

.textBlock{
	display: block;
	float: none;
	width: 100%;
	margin-bottom: 20px;
}

.fillingSlider{
	.fillings{
		display: block;
		position: relative;
		.imgBox{
			max-height: 150px;
			overflow: hidden;
			margin-bottom: 40px;
		}
		&__img{
			position: relative;
			transform: translateY(-30px);
			width: 100%;
			height: 300px;
			}
		.description{
				text-align: center;
				&__title{
					text-align: left;
				}
				&__text{
					margin-bottom: 20px;
					width: 100%;
					text-align: left;
				}
				&__price{
					margin-bottom: 30px;
				}
		}
		.count{
			position: absolute;
			color: white;
			top: 125px;
			left: -50px;
			z-index: 100;

		}

	}

.my-dots {
  position: absolute;
  top: 150px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.my-dots li {
  position: relative;
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
}

.my-dots li button {
  display: block;
  width: 5px;
  height: 5px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  background-color: #f61054;
  border-radius: 50%;
  border: 3px solid #f61054;
  outline: none;
}

.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
}

.my-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: -2px;
  left: -1px;
  width: 20px;
  height: 20px;
  content: url('');
  border-radius: 50%;
  background-color: #dddddd;
  border: 5px solid white;
  text-align: center;

 }

.my-dots li.slick-active button:before {
  opacity: 0;
}

}

/*****************************************************/

}