@media screen and (max-width: 768px){

body{
	background-size: 80% auto;
	background-position: 223% 0px;
	height: 200vh;
}

.header{
	background: url(../img/header/berry768.png) no-repeat; 
	background-position: 45% 60px;
	background-size: 15% auto;
	height: 200vh;
	padding-left: 45px;
}

.title{
	font-size: 60px;
}

.subtitle{
	font-size: 30px;
}

.WrapperIcons{
	margin-top: 23%;
}

.icons{
	flex-basis: 218px;
	&__text{
		font-size: 14px;
	}
}


}