.chooseBlock{
	background-color: #fff;
	box-shadow: 0px 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);
	padding: 75px 75px 50px 75px;
}

.textBlock{
	
	display: inline-block;
	float: left;

	&__number{
		font-size: 35px;
		font-family: "Playfair Display", serif;
		color: rgb(245, 0, 73);
		font-weight: bold;
	}
	&__subtitle{
		font-size: 20px;
		font-family: "Playfair Display",serif;
		color: rgb(245, 0, 73);
		font-weight: bold;
	}
}

.fillingSlider{
	.fillings{
		display: flex;
		&__img{
			flex-basis: 300px;
			}
		.description{
				flex-basis: 100px;
		}
	}
}