.chooseBlock{
	background-color: #fff;
	box-shadow: 0px 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);
	padding: 75px 75px 50px 75px;
}

.textBlock{
	
	display: inline-block;
	float: left;

	&__number{
		font-size: 35px;
		font-family: "Playfair Display", serif;
		color: rgb(245, 0, 73);
		font-weight: bold;
	}
	&__subtitle{
		font-size: 20px;
		font-family: "Playfair Display", serif;
		color: rgb(245, 0, 73);
		font-weight: bold;
	}
}

.fillingSlider{
	.fillings{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		&__img{
			flex-basis: 200px;
			}
		.description{
				flex-basis: 400px;
				align-self: center;
				&__title{
					font-size: 16px;
					font-family: "Circe", serif;
					color: rgb(47, 47, 47);
					font-weight: bold;
				}
				&__text{
					font-size: 14px;
					font-family: "Circe";
					color: rgb(47, 47, 47);
					width: 250px;
					margin-bottom: 30px;
				}
				&__price{
					font-size: 16px;
					font-family: "Playfair Display", serif;
					color: rgb(47, 47, 47);
					font-weight: bold;
					margin-bottom: 50px;
				}
		}
	}
}