body{
	margin: 0;
}

img{
	height: auto;
}

input, button:focus{
outline: none;
}

.floatReset{
	float: none;
}

.slick-active{
	outline: none;
}

a{
	text-decoration: none;
	color: rgb(45, 40, 41);
}

A:visited{
	color: rgb(45, 40, 41);
}