


body{
	background: #fbebea url(../img/header/tort.png) no-repeat;
	background-size: 67% auto;
	background-position: 138% 15px;

}


.container{
	max-width: 1220px;
}


@import 'colors.scss';
@import 'reset.scss';
@import 'fonts.scss';
@import 'header.scss';
@import 'interface.scss';
@import 'ourCake.scss';

@import 'media_small_desk.scss';
@import 'media768.scss';
@import 'media576.scss';
@import 'media320.scss';
